.container {
  margin: 15px 30px 15px 15px;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.info_container {
  background-color: white;
  padding: 0px 15px;
  width: 100%;
}

.thumbnail {
  height: 90px;
  width: 120px;
  flex-shrink: 0;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.channelTitle {
  color: grey;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  line-height: 2;
}
