.container {
  height: 45px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.playButton {
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

.muteButton {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid #dbdbdb;
}
