.App {
  margin: 40px 30px;
}
.top-content {
  height: 40px;
  display: flex;
  padding: 15px 15px 15px 0px;
}

.main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.primary-content {
  width: 60%;
}

.secondary-content {
  width: 40%;
}
.player {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 30px 15px;
  }
  .top-content {
    padding: 15px 0px;
  }
  .primary-content,
  .secondary-content {
    width: 100%;
  }
  .player {
    width: 100%;
    height: 325px;
  }
}

@media screen and (max-width: 450px) {
  .primary-content,
  .secondary-content {
    width: 100%;
  }
  .player {
    width: 100%;
    height: 215px;
  }
}
